@font-face {
    font-family: 'GraphikLight';
    src: url('../fonts/graphik/GraphikLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GraphikLightItalic';
    src: url('../fonts/graphik/GraphikLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'GraphikRegular';
    src: url('../fonts/graphik/GraphikRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GraphikRegularItalic';
    src: url('../fonts/graphik/GraphikRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'GraphikMedium';
    src: url('../fonts/graphik/GraphikMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GraphikMediumItalic';
    src: url('../fonts/graphik/GraphikMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'GraphikBold';
    src: url('../fonts/graphik/GraphikBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GraphikBlackItalic';
    src: url('../fonts/graphik/GraphikBlackItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}